.cardBg {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 170px;
    width: 170px;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
  }
  