.backgroundImage {
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: top;
  z-index: -100;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1527613426441-4da17471b66d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80");
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px) grayscale(1);
}
.textShadow {
  text-shadow: 1px 1px #535353e3;
}
