.goLeft {
  width: 8215%;
  position: relative;
  transition-duration: 50s;
  transform: translate3d(-2440px, 0px, 0px);
  transition-timing-function: linear;
  /* position: relative;
  animation-name: goLeftAnimation;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}

@keyframes goLeftAnimation {
  from {
    right: 0%;
  }
  to {
    right: -100%;
  }
}
