.enterLeft {
  animation-name: enterLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes enterLeft {
  from {
    transform: translate(-200px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
.enterRight {
  animation-name: enterRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes enterRight {
  from {
    transform: translate(200px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
.enterTop {
  animation-name: enterTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes enterTop {
  from {
    transform: translate(0px, -200px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
.enterBottom {
  animation-name: enterBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes enterBottom {
  from {
    transform: translate(0px, 100px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
