.enterRight {
  animation-duration: 2s;
}

@media (min-width: 600px) {
.enterRight {
  animation-name: enterRight;
}
}
@keyframes enterRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.enterLeft {
  animation-duration: 2s;
}

@media (min-width: 600px) {
  .enterLeft {
    animation-name: enterLeft;
  }
}
@keyframes enterLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.shake {
  animation: shakeIt 3s ease-in-out 1s infinite;
}
@keyframes shakeIt {
  0% {
    transform: rotate(-5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
